:detail-container {
  --background: #616363;
}

.detail-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
}
.back_tolist_button {
  width: 20%;
  background-color: var(--background);
  border: none;
  position: absolute;
  left: 10px;
}
.folder_title {
  color: rgb(44, 124, 246);
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  height: 10%;
  padding: 10px;
}

@media only screen and (min-width: 577px) {
  .detail-container {
    width: 70%;
  }
  .folder_title {
    text-align: left;
  }
}
