html,
body {
  margin: 0;
  padding: 0;
}
.App-header {
  width: 100%;
  height: 5%;
}
.section {
  width: 100%;
  height: 95%;
}
.App {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  min-width: 300px;
}
